node_modules
npm-debug.log
.next
.git
.gitignore
.env
.env.local
.env*.local
README.md
firebase.json
apphosting.yaml
public
components
app
tailwind.config.ts
tsconfig.json
next.config.js
postcss.config.js

